.login {
  height: 100vh;
  background-image: url("../../../assets/imgs/background.gif");

  & > form {
    width: 400px;
    height: 400px;

    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & > h2 {
      text-transform: uppercase;
      font-weight: normal;
      letter-spacing: 5px;

      padding-bottom: 25px;
    }

    & > input {
      border: none;
      background-color: #e7e7e7;
      margin-bottom: 10px;
      width: 250px;
      height: 50px;
      border-radius: 25px;
      padding-left: 20px;
    }

    & > button {
      margin-top: 50px;
      background-image: url("../../../assets/imgs/background.gif");

      border: none;
      border-radius: 25px;

      color: white;
      text-transform: uppercase;
      letter-spacing: 5px;

      width: 200px;
      height: 50px;


      cursor: pointer;

      transition: all 0.3s ease;

      &:hover {
        background-color: #e7e7e7;

        transition: all 0.3s ease;

      }
    }
  }
}