@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: content-box;
}

.app {
    min-height: 100vh;
    height: auto;
    background-color: #e7e7e7;
}

.wrapper {
    width: 100%;
    min-height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}